$color-black: rgb(51, 51, 51);
$color-white: #fff;
$color-primary: #ba63e9;
$color-primary-light: rgb(249, 245, 240);
$color-primary-lighter: rgb(251, 248, 246);
$color-gray-light: rgba(234, 234, 234, 0.6);

$font-size-title-1: 52px;
$font-size-title-2: 30px;
$font-size-title-3: 22px;
$font-size-text-1: 18px;
$font-size-text-2: 14px;
$fw-lighter: 200;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$fs-body: 'IBM Plex Sans', sans-serif;
$fs-title: 'Yrso', serif;
$fs-point: 'Kanit', sans-serif;
